*{
    margin: 0px;
    padding: 0px;
}
.backgr{
    width: 100vw;
    height: 100vh;
    background: #F6FCFF;
    display: flex;
    flex-direction: row;
    padding-left: 0px !important;
    padding-right: 0px !important;
}