*{
    margin: 0px;
    padding: 0px;
}
.backgr{
    width: 100vw;
    height: 100vh;
    background: #F6FCFF;
    display: flex;
    flex-direction: row;
    margin-left: 0px !important;
    margin-right: 0px !important;
    .column{
        margin-left: 0px !important;
    }
}